// 2018-04-19 Jifeng Cheng

.layout {
  min-height: 100vh;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-size: cover;
}

.loginForm {
  max-width: 300px;
  margin: auto;
  margin-top: 34vh;
}

.formForget {
  float: right;
}

.formButton {
  width: 100%;
}
